header{
  position: absolute;
  z-index: 1;
  width: 100%;
  color: white;
  // padding: 0 0px;
  // padding: 20px;


  nav{
    display: inline-block;
    float: right;
    text-align: right;
    padding-left: 0;
    padding: 0px 10px;


    a{
      display: inline-block;
      text-decoration: none;
      color: white;
      padding: 20px 10px;
      // margin-right: 10px;
    }
  }

  .logo{
    display: inline-block;
    padding: 20px 10px;
    text-transform: uppercase;
  }
}
